.advantages-section {
    background-color: #1F1F1F;
    padding: 72px 0;

    @media screen and (min-width:$bp-mobile) {
        padding: 120px 0;
    }

    &__title {
        text-align: center;
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        gap: 29px;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        
        @media screen and (min-width:$bp-tablet) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &:first-child {
            margin-bottom: 50px;
        }

        &:last-child {
            margin: 0;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            padding: 30px;
            max-width: 330px;

            h3 {
                margin-top: 30px;
                margin-bottom: 0;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}