.footer {
    padding: 40px 0 24px;

    &__container {
        display: block;

        @media screen and (min-width:$bp-tablet) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 60px 0 34px;
        }
    }

    &__navigation {
        display: block;
        text-align: center;
        

        @media screen and (min-width:$bp-tablet) {
            display: flex;
            gap: 86px;
        }
    }

    &__list {
        color: #1887BF;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;
        align-items: center;

        @media screen and (min-width:$bp-tablet) {
            align-items: start;
        }

        li {
         display: flex;
         justify-content: start;
        }

        h3 {
            margin: 16px 0 20px;

            @media screen and (min-width:$bp-tablet){
                margin: 0 0 20px;
            }
        }
    }

    &__link {
        color: black;
    }

    &__info {
        padding: 0;
        text-align: center;
        margin-bottom: 40px;

        @media screen and (min-width:$bp-tablet) {
            margin: 0;
        }
        h3 {
            color: #1887BF;
            font-size: 20px;
            font-weight: 700;
        }
        
    }

    &__info-item {
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 16px;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        color: black;

        @media screen and (min-width:$bp-tablet) {
            margin-top: 20px;
            justify-content: start;
        }
    }

    &__p {
        text-align: center;
        margin: 40px 0 0;
    }

    &__link {
        color: black;
        margin-bottom: 15px;
        transition: color 0.3s ease;

        &:hover {
            color: #1887bf;
        }
    }

}