.header {
    padding: 12px 0;
    background-color: #1f1f1f;
    opacity: 1;
    pointer-events: all;
    position: sticky;
    top: 0;
    z-index: 1000;

    @media screen and (min-width:$bp-desktop) {
        background-color: transparent;
        position: static;
    }

    &__navigation {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.3s ease;
    }

    &__menu {
        display: none;

        @media screen and (min-width:$bp-tablet) {
            display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-around;
        position: relative;
        }

        &::before,
        &::after {
            display: none;

            @media screen and (min-width:$bp-tablet) {
                display: block;
                content: '';
                position: absolute;
                width: 1px;
                height: 45px;
                border: 1px solid #fff;
            }

            @media screen and (min-width:$bp-desktop) {
                border: 1px solid black;
            }
        }

        &::before {
            bottom: -10px;
            left: 400px;
        }

        &::after {
            right: 380px;
            bottom: -10px;
        }

        a {
            color: #fff;
            font-weight: 700;

            @media screen and (min-width:$bp-desktop) {
                color: black;
                transition: color 0.3s linear;

                &:hover {
                    color: #1887bf;
                }
            }
        }
    }
    &__burger-button {
        background-color: transparent;
        border: none;
        width: 100%;
        display: flex;
        justify-content: end;
    
        @media screen and (min-width: $bp-tablet) {                
        display: none;
        }
    }
}

@media screen and (max-width: $bp-tablet) {
  .header--hidden {
    opacity: 0;
    pointer-events: none;
  }
}