.hero-section {
    background: url('../../src/assets/hero-section-bg.webp') no-repeat;
    background-size: cover;
    padding: 135px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 32px;
        max-width: 513px;
        text-align: center;
        text-transform: uppercase;
        line-height: 100%;

        @media screen and (min-width:$bp-tablet) {
            font-size: 72px;
            max-width: 800px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        line-height: 100%;
        max-width: 879px;
        text-align: center;
        margin: 0 0 25px;
    }

    &__button {
        padding: 20px 85px;
        color: #fff;
        background-color: #1887BF;
        cursor: pointer;
        border: 1px solid #1887BF;
        transition: background-color .3s ease, color .3s ease;

        &:hover {
            color: black;
            background-color: #fff;
        }
    }
}